.vscode
workspace/assignments/02-lidar-odometry-basic/
workspace/assignments/03-lidar-odometry-advanced/
workspace/assignments/04-mapping-and-matching/
workspace/assignments/05-imu-calib/
workspace/assignments/06-imu-navigation/
.cproject
.project
slam_data/
workspace/assignments/08-filtering-advanced/
*.pyc
demo_saved_data/
.settings/
.~lock*
.pydevproject

