.vscode
workspace/assignments/02-lidar-odometry-basic/
workspace/assignments/03-lidar-odometry-advanced/
workspace/assignments/04-mapping-and-matching/
workspace/assignments/05-imu-calib/
.cproject
.project
.pydevproject
.~*
*.pyc
