.vscode
build/
02-lidar-odometry-basic/
03-lidar-odometry-advanced/
.project
.cproject
workspace/assignments/05-imu-calib/
workspace/assignments/06-imu-navigation/
workspace/assignments/07-filtering-basic/
workspace/assignments/08-filtering-advanced/
workspace/assignments/09-graph-optimization/
